@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.blob-shape {
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  animation: morph 8s ease-in-out infinite;
}

.blob-shape-inner {
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  animation: morph 8s ease-in-out infinite;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }

  50% {
    border-radius: 30% 70% 70% 30% / 30% 70% 30% 70%;
  }

  100% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
}

.tech-icon {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.text-glow {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.dark .text-glow {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}